<h1>Play!</h1>

<h2>Productos</h2>

<div>
    {{#each videogames}}
    <div>
        <p class="title">{{this.title}}</p>
        <p class="gender">{{this.gender}}</p>
        <p class="description">{{this.description}}</p>
        <p class="price">{{this.price}}</p>
    </div>
    {{/each}}
    <button onclick="addvideoGame('{{this._id}}')">agregar</button>
</div>

<div>
    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}"><button>Anterior</button></a>
    {{/if}}

    <h4>{{page}}</h4>

    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}"><button>Siguiente</button></a>
    {{/if}}
</div>

<script src="/src//public/img/js/home.js"></script>